mixin icon(iconName, iconClass)
  svg(class=`${iconClass}`)
    use(xlink:href=`./assets/images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
  img(src=`./assets/images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

mixin socials(className)
  -var socials= ['vk', 'github', 'in']
  ul(class="socials" + className )
    each social in socials
      li.socials__item
        a(href="#").socials__link
          +icon(social, 'social__icon')

mixin hamburger
  a(href="#")#hamburger.hamburger
    span.hamburger__span
    span.hamburger__span.deleted
    span.hamburger__span

mixin user-card(subClass, title, subtitle, nosvg)
  .user-card
    if(!nosvg)
      .user-card__outer
        svg.user-card__svg
          use(xlink:href="./assets/images/sprite.svg#login")
    .user__pic-container
      .user__pic
        +image('myphoto.jpg', 'user pic', 'user__pic-img')
    .user__info
      h1(class="user__name " + subClass)= title
      .user__desc= subtitle

mixin nav(className, items)
  nav(class = `${className}`)
    .nav-container
      ul(class = `${className}__list`)
        each item in items
          li(class = `${className}__item`)
            a(class = `${className}__link` href='#')= item